ul, ol {
    padding-inline-start: 0px;
    list-style-type: none;
    margin: 0px;
}



.header {
    width: 100%;
    background-color: white;
    opacity: 0.5;
    position: fixed;
    top:0;
    left: 0;
    z-index: 99999;
}
.navList{
    display: flex;
    justify-content: space-evenly;
}