
.winter {
    position: absolute;
    bottom: 40vh;
    left: 40%;
    
    animation-name: winter_img_01;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.winter_img_01 {
    width: 300px;
    
} 

@keyframes winter_img_01 {
     0%     { opacity: 0;}
    73%     { opacity: 0; bottom: 35vh;left: 35%; transform: rotateY(180deg) rotate(0deg) scale(0.7); }
    75%     { opacity: 0.6;}
    83%     { opacity: 1; bottom: 20vh;left: 60%;transform: rotateY(180deg) rotate(0deg) scale(0.9); }
    93%     { opacity: 1;                           transform: rotateY(180deg) rotate(-630deg) scale(1.1); }
    100%    { opacity: 1; bottom:  4vh;left: 80%; transform: rotateY(180deg) rotate(-620deg) scale(1.2); }
}